services:
    mysql:
        image: mysql:latest
        container_name: MYS_COMPS
        environment:
            MYSQL_ROOT_PASSWORD: dockeradmin
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
    volumes:
      mysql_data:
